<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="js/template-web.js"></script>
</head>
<body>
    
    <ul id="uls">
        
    </ul>

    <script type="text/template" id="abc">

        <% for(var i = 0 ; i < item.length ; i++) {%>
           <li><%=item[i]%></li>
        <% } %>
    </script>

    <script>
        var arr=["aa","bb","cc"];
        var ww=template("abc",{item:arr});
        document.querySelector("#uls").innerHTML= ww;

    </script>
</body>
</html>